.city-selector {
    display: inline-flex;
    flex-direction: column;
}

.city-selector__form {
    padding: 1px;
    border: 1px solid lightslategray;
    border-radius: 5px;
    height: 30px;
    display: inline-flex;
}

.city-selector__input {
    border: none;
}

.city-selector__button {
    border: none;
    cursor: pointer;
}

.city-selector__list {
    list-style: none;
    padding: 5px 0;
    border: 1px solid lightslategray;
    border-radius: 5px;
}

.city-selector__item {
    padding: 5px;
    cursor: pointer;
}

.city-selector__item:hover {
    color: white;
    background-color: mediumslateblue;
}

.selected-cities{
    list-style: none;
    display: flex;
    padding: 0;
    flex-wrap: wrap;
}
.selected-cities__item
{
    padding: 5px;
    border: 1px solid gray;
    border-radius: 5px;
    margin: 0 10px 10px 0;
}
